/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,500;1,300&family=Poppins:ital,wght@0,100;0,200;0,300;0,500;1,200&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    color: #161616;
    font-size: 16px;
    background-color: #fff;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Josefin Sans', sans-serif;
    color: #333;
}
p{
    font-size: 16px;
    color: #161616;
}

.login-section{
    margin-top: 200px;
}
.login-box{
    background-color: #f7f7f7;
    padding: 20px;
    box-shadow: 1px 2px 3px #d2cece;
    border-radius: 2px;
}